*{
   padding: 0;
   margin:0;
}

body{
   background-color: #fff;
   font-family: Arial, Helvetica, sans-serif;
}

.row{
   margin: 0;
   padding: 0
}

.navitem{
   color: #000;
   font-size :20px;
   transition:  1000ms;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   text-decoration: none;
}

body{
   background-attachment:fixed;
   background-image: url("../styles/img/back.jpg");
   background-repeat: no-repeat;
 }

.navitem:hover{
   color:#00ba51;
   font-size : 22px;
   text-decoration: none;
   font-weight: 600;
   border-left: 3px solid #fff;
   border-right: 3px solid #fff;
   border-bottom: 4px solid #00ba51;
   padding:8px; 
   padding-bottom: 16px  
}


.active{
   color:#00ba51;
   font-size : 22px;
   text-decoration: none;
   font-weight: 600;
   border-left: 3px solid #fff;
   border-right: 3px solid #fff;
   border-bottom: 4px solid #00ba51;
   padding:8px; 
   padding-bottom: 16px 
}

div.onenav {
   width: 140px;
}

.imges {
   height : 30px;
   padding-right: 7px;
   padding-bottom: 5px
}

/* #00ba51 */
.navstyle {
   /* background: linear-gradient(90deg, rgba(52,70,58,1) 0%, rgba(68,146,132,1) 35%, rgba(155,190,106,1) 100%); */
  background-color: #fff;
   /* height : 60px; */
   width: 100%;
   z-index: 10;
   position: fixed;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   top:0
}

.open{
   width: auto;
   height: 50px;
   width: 100%;
   margin: auto
}

.btnSign{
   border: 2px solid #00ba51;
   border-radius: 5px;
   background-color: #00ba5100;
   padding: 3px 6px ;
   color:#00ba51;
   font-weight: bold;


}


