.imgCard{
    height: 200px;
    overflow: hidden;
    padding: 10px;
}

.color{
    color:#fc6ac1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #25252600;
    border: 4px solid #252526;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.btns{
    display: flex;
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 5px;
    justify-content: center;
    background-color: #fc6ac200;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #fc6ac1;
    transition: 1000ms;    
}

.btns:hover{
    border: 3px solid #fc6ac1;
    background-color: #fc6ac1;
}

.top{
    margin-bottom:0;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
    padding-top: 20px;
}

.textCard{ 
    font-size: 18px;
    border-radius: 5px;
    color:#fff;
}

.card-body{
    padding: 0;
}

/* ////////////////// here new ////////////////////////0 */


.profilePage{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: 100px; */
    padding: 30px;
    width: 90vw;
    margin:auto;
    margin-top: 14vh;
}
span.readMoreText{
    color: red;
}

.userPhoto{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    border: 1px solid #00ba514b;
}

.username{
    margin: 0;
    font-size: 28px;
}

.job{
    color:rgb(110, 110, 110);
    font-size: 18px;
}

.borderLeft{
    /* border-right: 2px solid #00ba51; */

}

.brief{
    text-align: left;
    padding: 15px;
}

.borderLeft{
    border-left: 2px solid #00ba51;

}

.btnUser{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}

.textBrief{
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px
}



.topGreen{
    color: #00ba51;
    font-size:24px;
    font-weight: 400;
 }

 .userInfo{
     display: flex;
     justify-content: center;
 }

 .userInfo{
     display: flex;
     justify-content: space-around;
     text-align: center;
     margin-left: 20px;
 }

 .numInfo{
     font-size: 40px;
     color: #00ba51;
     font-weight: bold;
     margin-bottom: 0;
 }

 .size{
     font-size: 14px;
 }