.topSpace  {
    margin-top: 90px
}

.warpCard{
    background-color:#00ba51;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); 
    border-radius: 25px;
}

.card{
    margin-bottom: 10px;
}

.warpCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}


.recipeImg{
    border-radius:10px;
}

.info{
    display: flex;
    font-size: 18px;
    text-align: left;
    color: #212529;
    margin-top: 5px;
}

.icon{
    height:28px;
    margin-right: 3px;
    padding-left: 3px;
    border-left: 3px solid #00ba51;
    border-radius: 10px;
    margin-left:10px;
}

.iconSpace{
    margin-left: 30px;
}

.cir{
  background-color: #00ba51;
  width: 50px;
  height: 50px;
  margin-left:20px;
  margin-top: 4px;
  margin-right: 10px;
  border-radius: 100%;
  text-decoration: none;
  cursor: pointer;
  padding-top: 8px;
}

.cir:hover{
    background-color: #019e45;
    transition:  1000ms;
  }


.topSearch{
    font-size: 20px;
    color: #00ba51;
    padding-bottom: 5px;
    padding-top:10px
}

.topSearchNum{
    font-size: 22px;
    color: #00ba51;
    padding-bottom: 5px;
    padding-top:10px;
    font-weight: bold
}

.searchItem{
    display: flex;
    align-items: center
}

.searchSize{
    font-size: 15px;
    margin-right: 10px;
    color: #000
}

.recipeHead{
    margin-top: 5px;
    font-size: 32px;
    font-weight: 600;
    text-align: right;
}

.ingred{
    font-size: 24px;
    font-weight: 400;
}

.colors{
    padding: 16px;
    background-color: #fff;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.colorsTwo{
    background-color: #00ba51;
    border-radius: 25px;
    text-align: left;
    color: #fff;
}

.insideGreen{
    padding: 20px;
}

.headGreen{
   font-size:24px;
   font-weight: 400;
}

.type {
    font-size : 20px;
    color: #9a9a9b;
    font-family: arial;
    padding-left: 5vw;
    padding-bottom:14px;
    text-align: start
}

.images{
    height: 300px;
}

.block{
    width: 90vw;
    margin: auto;
    margin-bottom:10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardStyle{
    margin: 25px
}

.notFound {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    width: 60vw;
    margin: auto;
    margin-top: 30px;
}


.numRecipe {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    color:rgb(83, 83, 83);
    font-size: 18px;
}

.userId{
    text-decoration: none;
    color:#000
}

.userId:hover{
    text-decoration: none;
    color:#000
}

.userImg{
    height: 54px;
    width: 70px;
    border-radius:5px;
    overflow: hidden;
    margin-right: 0;
}

.userImgtwo{
    height: 54px;
    width: auto;
    border-radius:5px;
    overflow: hidden;
    margin-right: 0;
}

.user{
    display: flex;
    margin-bottom:20px 
}

.userText{
    text-align: left;
    width: 100%;
    padding-left: 14px;
    padding-top: 5px
}

.x{
  position: absolute;
  top:15px;
  right:15px;
}

.usernamePost{
    font-size:20px;
    font-weight: 400;
}

.timePost{
    font-size:16px;
    color: rgb(161, 161, 161);
}

@media(min-width: 550px){
    .card-columns{        
        column-count: 1;
    }
}

@media(min-width: 600px){
    .card-columns{        
        column-count: 2;
    }
}

@media(min-width: 900px){
    .card-columns{        
        column-count: 3;
    }
}

 
    
